{% extends 'base.html' %}

{% block content %}
    <h1>Create a new transaction</h1>

    <form action="{{ url_for('transactions.create') }}" method="post">
        <label for="product_id">Product ID</label>
        <select name="product_id" id="product_id">
            {% for product in products %}
                <option value="{{ product.product_id }}">{{ product.product_name }}</option>
            {% endfor %}
        </select>

        <label for="operation_type_id">Transaction Type</label>
        <select name="operation_type_id" id="transaction_type_id">
            {% for transaction_type in transaction_types %}
                <option value="{{ transaction_type.operation_type_id }}">{{ transaction_type.operation_name.capitalize() }}</option>
            {% endfor %}
        </select>

        <br>
        <label for="product_quantity">Product Quantity</label>
        <input type="number" name="product_quantity" id="product_quantity" required>
        <br>

        <button type="submit">Create</button> 

{% endblock %}
