{% extends 'base.html' %}

{% block title %}Historial{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/historial.css') }}">
{% endblock %}

{% block content %}
    <div class="main-content">
        <h1>Historial</h1>
        <div class="tabs">
                <a href="{{ url_for('transactions.index_in' ) }}"><button class="{{ 'active' if not out else '' }}">Entrada de productos</button></a>
                <a href="{{ url_for('transactions.index_out' ) }}"><button class="{{ 'active' if out else '' }}">Salida de productos</button></a>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID de producto</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Fecha y hora</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.product_id }}</td>
                            <td>{{ transaction.product.product_name }}</td>
                            <td>{{ transaction.product_quantity }}</td>
                            <td>{{ transaction.time_registered }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
