{% extends 'base.html' %}

{% block content %}
    <h1>Register</h1>
    <form method="POST" action="{{ url_for('account.register_user') }}">
        
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>

        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="confirm_password" id="confirm_password" required>

        <label for="role">Role</label>
        <select name="role" id="role">
            <option value="1">Admin</option>
            <option value="2">User</option>
        </select>

        <input type="submit" value="Register User">

    </form>
{% endblock %}
