{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Crear una alerta{% endblock %}

{% block content %}

<div class="alertas">
    <h1>Ajustes</h1>
    <div class="menu-ajustes">
        <button class="boton">Alertas de stock</button>
        <button class="boton">Administrar usuarios</button>
        <button class="boton">Sistema</button>
    </div>

    <div class="ajustes-contenido">
        <form action="#" method="post">
            <h2>Notificar si el stock de un producto es bajo</h2>
            <p>Si desea recibir una alerta de stock bajo de un producto, seleccione la siguiente opción:</p>
            <input type="checkbox" name="alerta-activa" value="alerta activa">Deseo recibir alertas de stock bajo
            <br>

            <h2>Inventario - Cantidad de stock*</h2>
            <p>Indique de qué producto le gustaría recibir alertas</p>
            <select name="product_id" id="product_id">
                {% for product in products %}
                <option value="{{ product.product_id }}">{{ product.product_name }}</option>
                {% endfor %}
            </select>

            <p>Especifique la cantidad de producto que considere bajo stock, para enviar alerta</p>
            <input type="number" placeholder="Cantidad mínima">
            <button class="alerta-boton">Recibir alerta</button>
        </form>


    </div>
</div>

{% endblock %}
