{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Crear una alerta{% endblock %}

{% block content %}

<div class="alertas">
    <h1>Alertas</h1>
    <p>La alerta se enviará el correo del usuario actual</p>

    <div class="ajustes-contenido">
        <form action="#" method="post">
            <h2>Inventario - Cantidad de stock*</h2>

            <form action="{{ url_for('alerts.create') }}">
                <label for="product_id">Indique de qué producto le gustaría recibir alertas</label>
                <select name="product_id" id="product_id">
                    {% for product in products %}
                        <option value="{{ product.product_id }}">{{ product.product_name }}</option>
                    {% endfor %}
                </select>

                <label for="user_id">Indique a qué usuario quiere añadir la alerta</label>
                <select name="user_id" id="user_id">
                    {% for user in users %}
                    <option value="{{ user.user_id }}">{{ user.username }} - {{ user.user_role.user_role }}</option>
                    {% endfor %}
                </select>

                <label for="min_quant">Especifique la cantidad de producto que considere bajo stock, para enviar una alerta. Cuando el producto baje de esta cantidad, recibirá un correo electrónico</label>
                <input id="min_quant" type="number" name="min_product_stock" placeholder="Cantidad mínima">
                <button type="submit" class="alerta-boton">Crear Alerta</button>
            </form>
        </form>


    </div>
</div>

{% endblock %}
