{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/createCategory.css') }}">
{% endblock %}

{% block title %}Crear una nueva categoría{% endblock %}

{% block content %}
<h1>Crear una nueva categoría</h1>

<section class="form-section">
    <h2>Nueva Categoría</h2>
    <form id="salidaForm" method="POST" action="{{ url_for('transactions.create_out') }}">

        <div class="form-group">
            <label for="category_name">Nombre de la categoría</label>
            <input type="text" id="category_name" name="category_name" required/>
        </div>

        <button type="submit" class="submit-btn">Registrar Categoría</button>
    </form>
</section>

{% endblock %}
