:root{
    --fuente: "Poppins", sans-serif;
    --color-principal: #D1495B;
    --color-fuente: #000000;
    --color-fondo:#F2C8C8;
    --color-bloques: #D9D9D9;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente);
}

a {
    text-decoration: none;
    color: var(--color-fuente);
}

body {
    background-color: var(--color-fondo);
    min-height: 100vh;
}

/* Sidebar Styles */
.sidebar {
    color: white;
    width: 10%;
    min-width: 150px;
    background-color: var(--color-principal);
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    overflow-x: hidden;
    justify-content: space-around;
    z-index: 100;

    transition: all 0.5s;
}

.sidebar * {
    color: white;
}

.sidebar:hover {
    width: 20%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}


.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: var(--color-fuente);
    padding: 10px;
    border-radius: 20px;
}

.profile-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.sidebar.active .profile span {
    display: block;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.sidebar.active .profile {
    width: 90%;
    margin: 0 auto;
}

.sidebar.active .nav, 
.sidebar.active .logout {
    width: 85%;
    margin-left: auto;
}

.profile a, .nav a, .logout a {
    display: block;
    display: flex;
    width: 95%;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.2em;
}

.nav a, .logout a {
    padding: 10px;
}

.nav a:hover, .logout a:hover {
    background-color: var(--color-fondo);
    border-radius: 10px;
}

.nav a:hover span, .logout a:hover span {
    color: black;
}


.profile a span, .nav a span, .logout a span {
    display: none;
}

.sidebar.active .profile a span,
.sidebar.active .nav a span, 
.sidebar.active .logout a span {
    display: block;
}


box-icon {
    width: 45px;
    height: 45px;
    color: white;
}

box-icon[name="user-circle"] {
    width: 80px;
    height: 80px;
}

/* Para que ocupe el resto de la pantalla (nav: 15%, contenido principal: 85%) */
.container-base {
    width: 85%;
    margin-left: auto;
    padding: 2rem;
    min-height: 100vh;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--color-principal);
    opacity: 0.8;
    letter-spacing: 1px;
    text-transform: uppercase;
}
