* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f2c8c8;
}

.main-content {
    padding: 30px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tabs button {
    background-color: white;
    color: #D1495B;
    border: 2px solid #D1495B;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.tabs button.active {
    background-color: #D1495B;
    color: white;
}

.tabs button:hover {
    background-color: #D1495B;
    color: white;
}

.table-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead {
    background-color: #D1495B;
    color: white;
}

thead th {
    padding: 15px;
    font-size: 16px;
}

tbody tr {
    border-bottom: 1px solid #f2c8c8;
}

tbody td {
    padding: 15px;
    font-size: 14px;
}

tbody tr:hover {
    background-color: #f5baba;
}

.filter_by_product {
    margin-bottom: 20px;
    background-color: white;
    padding: 1rem;
    width: fit-content;
    margin-left: auto;
}

.filter_by_product * {
    margin-right: 10px;
}

.filter_by_product label {
    font-size: 16px;
}

.filter_by_product select {
    padding: 10px;
    font-size: 16px;
}

.filter_by_product button {
    background-color: #D1495B;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
