{% extends 'base.html' %}

{% block styles %} 
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/core/index.css' )}}" />
{% endblock %}

{% block title %} Homepage {% endblock %}

{% block content %}
    <h1>Administrador de inventarios</h1>
    <p>¡Bienvenido al sistema de inventarios!</p>

    <p>You are {{ current_user.username }}</p>

    <div class="dashboard">
        <h2>Dashboard</h2>
        {% for graph in graphs %}
            <img src="data:image/png;base64,{{ graph }}" alt="Gráfico de producto" width="550px">
        {% endfor %}
    </div>
{% endblock %}
