<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask - {% block title %}{% endblock %}</title>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('core.index') }}">Inicio</a></li>
                <li><a href="{{ url_for('account.login') }}">Login</a></li>
                <li><a href="{{ url_for('account.logout') }}">Logout</a></li>
                <li><a href="{{ url_for('products.index') }}">Productos</a></li>
                <li><a href="{{ url_for('categories.index') }}">Categorías</a></li>
                <li><a href="{{ url_for('transactions.index_in') }}">Transacciones</a></li>
            </ul>
        </nav>

        <ul>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </ul>
    </header>

    {% block content %}{% endblock %}
</body>
</html>
