{% extends 'base.html' %}

{% block title %}
Inventory-app
{% endblock %}

{% block content %}
    <h1>Products</h1>
    <table class="table" border=1>
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.stock }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2><a href="{{ url_for('products.create') }}">Create a new product</a></h2>
{% endblock %}
