{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/productsIndex.css') }}">
{% endblock %}

{% block title %}
Inventory-app
{% endblock %}

{% block content %}
<h1>Products</h1>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Nombre del producto</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Categoría</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.stock }}</td>
                    <td>${{ product.price }}</td>
                    <td>{{ product.category.category_name }}</td>
                    <td><a href="{{ url_for('products.detail', product_id=product.product_id) }}">
                            <box-icon name='list-ul' color='#000'></box-icon>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}
