@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --fuente: "Poppins", sans-serif;
    --color-principal: #D1495B;
    --color-fuente: #000000;
    --color-fondo:#FFECEF;
    --color-bloques: #D9D9D9;

}

.boton:hover{
    background-color: var(--color-bloques);
    color: var(--color-fuente);
}

.alertas {
    padding: 5rem 2rem;
    background-color: var(--color-fondo);
    width: 90%;
    margin: 0 auto;
}

h1,p {
    margin-left: 5%;
    margin-bottom: 20px;
}

h1+p {
    font-style: italic;
}

.menu-ajustes {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 5%;
}

.boton {
    background-color: var(--color-principal);
    color: var(--color-fondo);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}


.ajustes-contenido {
    background-color: var(--color-bloques);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
}

h2 {
    margin: 10px 0;
}

label {
    display: block;
    margin: 10px 0;
}

.alerta-boton {
    background-color: var(--color-fondo);
    color: var(--color-fuente);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    border: solid 1px var(--color-fuente);
    
}

.alerta-boton:hover {
    background-color: var(--color-principal);
    color: var(--color-fondo);
    border: solid 1px var(--color-fuente);
}

input, select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.3em;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 0.7%;
    align-items: center;
}
